

body {
	background-color:black;

}


h2 {
	text-align: center;
	color: red;
	font-size: 40px;

	
}


.myself{
	text-align: center;
	color:yellow;
	font-size:22px;
	font-family: 'Lato', sans-serif;}

	
.social-icon{
	text-align: center;
}



i{
	font-size: 30px;

	color: white;
	
	margin: 5px 20px 0px 10px

}
